<div class="box_side">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <a routerLink="/be">แดชบอร์ด</a>
        </li>
        <li class="list-group-item">
            <a routerLink="/be/category">หมวดหมู่</a>
        </li>
        <li class="list-group-item">
            <a routerLink="/be/product">สินค้า</a>
        </li>
        <li class="list-group-item">
            <a routerLink="/be/report">รายงาน</a>
        </li>
        <li class="list-group-item">
            <a routerLink="/be/users">ผู้ใช้</a>
        </li>
        <li class="list-group-item">
            <a routerLink="/be/setting">ตั้งค่า</a>
        </li>
      </ul>
</div>